<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pembayaran</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<div class="lottie-container container">
  <ng-lottie
    width="100%"
    containerClass="moving-box"
    [options]="options">
  </ng-lottie>
</div>

<div class="desc container text-center">
  <h3>Kami tunggu Pembayarannya ya, </h3>
  <p>Dialog pembayaran online melalui midtrans akan terbuka secara otomatis, kamu tinggal menyelesaikan pembayaran sebelum waktu habis</p>
</div>

<div class="container text-center notif">
  <p>Dialog Midtrans tidak muncul ? <a style="text-transform: none; color: blue; font-weight: bold;" (click)="resendMidtransRequest()">Klik Disini</a> </p>
</div>

</ion-content>
