<ion-content [fullscreen]="true">

    <ion-row class="header">
        <ion-col size="10">
            <label class="logo">TRAVELGO</label>
        </ion-col>
        <ion-col size="2" class="btn-hero">

        </ion-col>
    </ion-row>

    <div class="header-hero">
        <img class="img-bg" src="../../../assets/images/car-op.png" alt="">
        <div class="profile">
            <h3>{{ user.name }}</h3>
            <small>{{ user.email }}</small>
        </div>
    </div>

    <div class="container">
        <div class="card-search">
            <form [formGroup]="FilterData" (ngSubmit)="filterJadwal()">
                <ion-list lines="full">

                    <ion-item>
                        <ion-label>
                            <ion-icon name="locate-outline"></ion-icon>
                        </ion-label>
                        <ion-select label="Kota Keberangkatan" formControlName="s_area_keberangkatan">
                            <ion-select-option *ngFor="let item of data_area" value="{{ item.id }}">{{ item.kabupaten_kota.nama_kab_kota }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            <ion-icon name="compass-outline"></ion-icon>
                        </ion-label>
                        <ion-select label="Kota Tujuan" formControlName="s_area_tujuan">
                            <ion-select-option *ngFor="let item of data_area" value="{{ item.id }}">{{ item.kabupaten_kota.nama_kab_kota }}</ion-select-option>
                        </ion-select>
                    </ion-item>

                    <ion-item>
                        <ion-label>
                            <ion-icon name="calendar-outline"></ion-icon>
                        </ion-label>
                        <ion-input aria-label="Tanggal Keberangkatan" type="date" formControlName="s_tgl_keberangkatan" [min]="today"></ion-input>
                    </ion-item>


                    <div class="button-cari ">
                        <button type="submit" class="btn btn-prm ">Temukan</button>
                    </div>

                </ion-list>
            </form>
        </div>


        <div class="list-jadwal ">
            <ion-list>
                <app-card-ticket *ngFor="let data of data_jadwal " [data_tiket]="data "></app-card-ticket>
            </ion-list>
        </div>

    </div>

</ion-content>