ion-toolbar{
    padding-right: 10px;
    font-size: 20px;
}

.bg-img{
    margin: 0 auto;
    margin-top: 30px;
    padding-top: 40px;
    background-color: #D9D9D9;
    border-radius: 100%;
    width: 180px;
    height: 180px;
}

.desc{
    text-align: center;

    h3{
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 20px;
        color: #6D6D6D;
    }

    p{
        font-family: 'Raleway';
        color: #9E9E9E;
        line-height: 8px;
    }

    .harga{
        color: var(--primary-color);
        font-weight: bold;
    }


}

.box-feature{
    border: var(--primary-color) 2px solid;
    border-radius: 12px;
    height: 80px;
    padding: 5px;
    ion-icon{
        font-size: 18px;
        font-weight: bold;
        color: var(--primary-color);
    }

    h5{
        font-size: 7px;
        font-family: 'Poppins';
        color: #9E9E9E;
        line-height: 0px;
        
    }

    .first-h5{
        margin-top: 1px;
    }

    p {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 8px;
        line-height: 0px;
        margin-bottom: 0px;
    }
}


.rules{
    h3{
        font-family: 'Poppins';
        font-style: 'Thin';
        font-size: 18px;
        color: #9E9E9E;
    }

    ol{
        font-family: 'Raleway';
        font-size: 12px;
        padding-left: 10px;
    }

}

ion-button{
    --background: var(--red-primary);
    --border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}