<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-label>
            <app-logo></app-logo>
            <ion-title>My Order</ion-title>
        </ion-label>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <div class="container">

        <ng-container *ngIf="data_booking == null">
            <app-no-data></app-no-data>
        </ng-container>

        <div class="list-jadwal">
            

            <ion-list *ngIf="data_booking?.length != 0">
                <app-card-booking *ngFor="let data of data_booking " [data_booking]="data"></app-card-booking>
            </ion-list>
        </div>
    </div>


</ion-content>
<!-- *ngFor="let data of data_jadwal " [data_tiket]="data " -->