ion-header {
    ion-toolbar{
        color: var(--header-text-color);
        --background:transparent;
    }
}
ion-content{
    position: absolute;
    --background: url(../../../assets/background.jpg) 0 0/100% 100% no-repeat;

    #container {
        text-align: center;
      
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        strong {
            font-family: var(--ion-font-poppins);
            color: var(--header-text-color);
            font-weight: bold;
            font-size: 25px;
        }

        p{
            margin-top: 20px;
            font-family: var(--ion-font-raleway);
            color: var(--header-text-color);
        }

        .form-login{
            padding: 20px;

            input {
                margin-bottom: 20px;
                height: 50px;
                border: none;
                border-radius: 10px;
            }

            ion-input{
                height: 40px;
                --background:white;
                border: none;
                --border-radius: 10px;
                margin-bottom: 20px;
                text-align: left;
                --padding-start: 10px;
                color: var(--header-text-color);
                --highlight-color-focused:none;
            }
            
            ::placeholder {
                font-family: var(--ion-font-poppins);
                color: var(--gray-text-color);
            }

            .btn-sign-in{
                background-color: var(--primary-color);
                color: white;
                box-shadow: 4px 0px 40px 20px rgba(123, 182, 23, 0.23);
                width: 100%;
                border-radius: 10px;
                height: 50px;
            }

            .reset-pwd { 
                float: right;
                margin-bottom: 30px;
                margin-top: 0 !important;
            }

            label {
                color: var(--header-text-color);
                font-family: var(--ion-font-raleway);
                font-weight: bold;
                font-size: 12px;
                margin-top: 30px;
            }

            .sign-google{
                margin: 0 auto;
                margin-top: 10px;
                width: 50px;
                height: 50px;
                background-color: white;
                border-radius: 100%;
                border: 1px solid red;

                padding: 5px;
                font-size: 30px;
                color: red;
                text-align: center;
            }
        }
    }


}