<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 
  <div id="container">
    <strong>Halo !!!</strong>
    <p>Selamat Datang <br> Kamu sudah ditunggu!</p>

    <div class="form-login">
      <form action="">
        <input type="text" class="form-control" placeholder="email / username">

        <app-show-hide-password>
          <ion-input type="password" placeholder="Password"></ion-input>
        </app-show-hide-password>

        <label class="reset-pwd">Reset Password</label>

        <button class="btn btn-sign-in">Masuk</button>

      </form>

      <label>Atau Masuk Melaui</label>
      
      <div class="sign-google">
        <ion-icon name="logo-google"></ion-icon>
      </div>

    </div>
  </div>

</ion-content>
