.locateMe{
    position: absolute;
    z-index: 999;
    top: 145px;
    left: 10px;
    --background: white;
    --border-radius: 5px;
    color: var(--header-text-color);
    font-size: 10px;
    font-weight: bold;
    width: 30px;
    height: 30px;
}

.location-desc{
    position: absolute;
    z-index: 9999;
    bottom: 30px;
    width: 100%;
    ion-card{
        width: 100%;
        margin: 0 auto;
    }
    ion-button{
        width: 100%;
    }
}