<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="map" style="height:100%"></div>

  <ion-button class="locateMe" (click)="locatePosition()" shape="round">
    <ion-icon name="locate-outline"></ion-icon>
  </ion-button>

  <div class="location-desc container">
    <ion-card>
      <ion-card-content>
        <ion-label *ngIf="isMobile && address">
          <h5>{{address.subAdministrativeArea}}</h5>
          <p>{{address.addressLines[0]}}</p>
        </ion-label>
        <ion-button (click)="confirmLocation()" expand="block" fill="solid" color="success" shape="round">
          Komfirmasi Lokasi
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

  

</ion-content>
