:host {
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;

    .type-toggle {
        position: absolute;
        z-index: 9999;
        right: 10px;
        top: 20px;
        color: var(--header-text-color);
        // padding-inline-start: 0.5rem;

        .show-option, .hide-option {
            font-size: 1.4 rem;
            display: block;
            

            //in case you want to use text instead of icons
            &:not(ion-icon) {
                text-transform: uppercase;
                font-size: 1rem;
            }
        }
    }
}