<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>Akun</ion-title>
        <div class="logout" slot="end" (click)="logout()">
            <ion-icon name="log-out-outline"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <div class="profile-container">

        <div class="profile-header">
            <ion-avatar>
                <img src="../../../assets/images/cartun.png" alt="Profile Picture">
            </ion-avatar>
            <h2>{{ user.name }}</h2>
            <p>{{ user.email }}</p>
        </div>

        <div class="profile-details">
            <ion-item>
                <ion-input class="input1" type="tel" id="phone-input" [readonly]="isReadOnly" [(ngModel)]="phone_number"></ion-input>
                <button id="edit-button" class="icon" (click)="toggleReadOnly()">
                    <ion-icon name="create"></ion-icon>
                  </button>
            </ion-item>

            <div class="container">

                <ion-button (click)="Editnumber()" expand="full" class="save-button">Simpan</ion-button>
                <ion-accordion-group expand="full">
                    <ion-accordion value="first">
                        <ion-item slot="header" class="intro">
                            <label>Ganti Password</label>
                        </ion-item>
                        <div slot="content" expand="full" class="bg">
                            <ion-item lines="full" expand="full">
                                <app-show-hide-password>
                                    <ion-input type="password" label="Password lama" labelPlacement="stacked" placeholder="Password lama" [(ngModel)]="password_lama"></ion-input>
                                </app-show-hide-password>
                            </ion-item>
                            <ion-item lines="full" expand="full">
                                <app-show-hide-password>
                                    <ion-input type="password" label="Password baru" labelPlacement="stacked" placeholder="Password baru" [(ngModel)]="password_baru"></ion-input>
                                </app-show-hide-password>
                            </ion-item>
                            <ion-item lines="full" expand="full">
                                <app-show-hide-password>
                                    <ion-input type="password" label="Konfirm Password" labelPlacement="stacked" placeholder="Konfirm Password" [(ngModel)]="CPassword"></ion-input>
                                </app-show-hide-password>
                            </ion-item>
                            <ion-button (click)="resetPassword()" expand="full" class="out-button">Reset Password</ion-button>
                        </div>
                    </ion-accordion>
                </ion-accordion-group>
                
            </div>
            

        </div>
    </div>
</ion-content>