.lottie-container{
    margin: 0 auto;
}

.desc, .notif {
    h3{
        font-family: 'Poppins';
        font-size: 23px;
    }

    p{
        font-family: 'Raleway-Thin';
        font-size: 14px;
        color: var(--gray-text-color);
    }
}